*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
.background{
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(#141414,#090909);
}
.card{
    height: 150px;
    width: 150px;
    background-image: url('./assets/netflix-logo.png');
    border-radius: 10px;
    background-repeat: no-repeat;
    background-position: center;
}
.scale-up-center {
	-webkit-animation: scale-up-center 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.3s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
